$color-primary: #FFF159;
$color-secondary: #3483FA;
$color-secondary-dark: #1D5BBF;
$color-background: #f5f5f5;
$color-card-background: #FFFFFF;
$color-text: #333333;
$color-text-light: #999999;
$colot-text-white: #FFFFFF;